
/* styles/App.css */
.App {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.App img {
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.2s;

}

.App img:hover {
    transform: scale(1.1);
}
